
#top {
    position: relative;
    background-color: transparent;
    color: #4a4a4a;
    font-size: 36px;
    font-weight: 600;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: transparent;
    padding: 5px;
    color: #666;
    margin: 10px 0px 0px 0px;
    text-align: center;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content table {
    border-spacing: 8px;
}

div.center_content tr > td {
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 20px;
    font-size: 13px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

div.author {
    margin-top: 20px;
}
